body{
    background-color: black;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 90%;
}
